body {
    font-family: sans-serif;
    background-color: rgb(105, 104, 104);
    color: rgb(0, 0, 0);
    margin: 0;
}

header {
    background-image: url("https://i.ibb.co/4g2P36Jm/photo-2025-10-10-19-35-51.jpg");
    height: 250px;
    width: 100%;
    margin-top: -21px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header h1 {
    border: 5px outset rgb(130, 130, 130);
    width: 115px;
    background-color: rgb(119, 119, 119);
    padding: 5px;

}
