body {
    font-family: sans-serif;
    background-color: black;
    color:white;
}

header div{
    background-image:linear-gradient(to top,#A600FF,#4ACCFF) ;
    position:absolute;
    top:0px;
    left: 0px;
    width:100%;
 color: white;
 text-align: center;
}

main{
    background-image:linear-gradient(to top,#A600FF,#4ACCFF) ;
    padding:50px;
    position:absolute;
    top:100px;
    color: white;
    left: 0px;
    width:100%;
    text-align: center;
}

main img{
    width: 40%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}


footer {
      display: flex;
      justify-content: space-between;
       background-image:linear-gradient(to top,#A600FF,#4ACCFF) ;
      padding: 20px;
      flex-wrap: wrap;
     position:absolute;
     top:490%;
    width: 100%;
    }
    
    footer img{
      width: 50px;
    }  
    
    footer h3 {
      margin-bottom: 10px;
      color: white;
    }
    footer h4 {
      margin: 5px 0;
      font-weight: normal;
      color: white;
      cursor: pointer;
    }

    footer p{
      color: white;

    }

    footer a{
      text-decoration: none;
      color: white;
    }


    .game-card {
    background: rgba(255,255,255,0.05);
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, background 0.3s ease;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    
}
